<!-- <p>accueil works!</p> -->
  <!-- progress -->



<app-header></app-header>

<main>


    <section class="banniere" >
        <!-- <div><img src="../../../../assets/accueil/bannerImg1.png" id="bcgban" alt=""></div> -->
        <div class="banner-container">
          <img src="assets/accueil/accImg.png" alt="Bannière" id="bcgban" class="banner-image">
          <div class="banner-text">
            <h1 >SAMA TALIBE</h1>
            <p>La plateforme qui vient en  aide les dahras pour une meilleure cohèsion</p>
          </div>
        </div>
    </section>

    <!-- Banniere-end -->
    <!-- section a propos -->
    <section class="about mt-5">
        <div class=" container ">
            <div class="cardAbout mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-6 col-sm-6 mt-5">
                        <div class="card-body">
                        <h3 class="card-title d-flex justify-content-center fw-bold">A propos de nous</h3>
                        <br>
                        <p class="cardtext">A travers <span>"SAMA DAHRA</span>, nous créons un modèle 
                            durable de soutien éducatif et favorable pour les jeunes talibés afin de diminuer 
                            significativement le  nombre  de talibé contraints à la mendicité au Sénégal.</p>
                        </div>
                      
                    </div>
                    <div class="imageabout-container container col-sm-6 col-md-6 ">
                        <div class="imageaboutOne container mt-4 pt-2">
                          <img src="assets/accueil/ImgAbout.jpeg" class="img-fluid" id="aboutImage" alt="...">
                        </div>
                    </div>
                  </div>
            </div>
          </div>
    </section>
        <!--End section a propos -->


     <!-- section comment ça marche -->
     <section class="mt-5 container" id="about">
        <h3 class="d-flex justify-content-center">Comment ça marche</h3>
        <!-- soulignement -->
        <div class="d-flex justify-content-center mb-4">
            <div class="div1"></div>
            <div class="div2">
            <div class="div3 position-absolute "></div>
            </div>
            <div class="div4"></div>
        </div>
    <!-- End soulignement -->
        <div class="cardMarche row ">
            <article class="card container mt-5 col-sm-4 col-md-4">
                <div class="card-img ">
                  <p class="mt-3">Parrainage</p>
                </div>
                <div class="project-info mt-2">
                    <span>En tant que bénévoles, vous pouvez choisir de prendre  en  charge un talibé </span>
                    <hr>
                </div>
            </article>
            <article class="card container col-sm-4 mt-5 col-md-4">
                <div class="card-img">
                  <p class="mt-3">Donnation</p>
                </div>
                <div class="project-info mt-2">
                  <span>Vous pouvez aussi  choisir  de faire un don pour un dahra.</span>
                </div>
                <hr>
            </article>                
            <article class="card container col-sm-4 mt-5 col-md-4">
                <div class="card-img">
                  <p class="mt-3">Sama Dahra</p>
                </div>
                <div class="project-info mt-2">
                  <span>Détenant un dahra , vous pouvez nous rejoindre pour bénéficier de nos avantages.</span>
                  <hr>
                </div>
            </article>  
        </div>
     </section>
     <!-- End section comment ça marche -->

     <!-- Section Temoignages -->
     <section class="temoignages mt-5">
        <h3 class="d-flex justify-content-center">Témoignages</h3>
        <!-- soulignement -->
        <div class="d-flex justify-content-center mb-4">
          <div class="div1"></div>
          <div class="div2">
          <div class="div3 position-absolute "></div>
          </div>
          <div class="div4"></div>
        </div>
        <!-- End soulignement -->
        <div class="temcontent row container">
            <div class="col-sm-4 col-md-4" id="cards">
                <div class="card mb-3" id="cardprimo">
                    <div class="card-body">
                      <p class="card-text">Grâce à cette plateforme nous bénéficions  des avantages que  nous  avons actuellement.</p>
                    </div>
                </div>
                <div class="row position-absolute rounded-0 mb-3" id="cardBottomprimo">
                    <div class="col-md-4 pt-2"><img src="assets/accueil/maitre coranique.jpg" id="maitreImg" alt=""></div>
                    <div class="card-body col-md-8">
                      <p class="card-text fw-bold mt-3">Serigne Djily Mbaye</p>
                      <p class="card-textdet fw-bold">Maitre coranique</p>
                    </div>
                  </div>
            </div>
            <div class="container col-sm-4 col-md-4">
                <div class="card mb-3" id="cardprimo">
                    <div class="card-body">
                      <p class="card-text">Les talibés sont plus impliqués de par leur  aisance au sein du dahra.</p>
                    </div>
                </div>
                <div class="row position-absolute rounded-0 mb-3" id="cardBottomprimo">
                    <div class="col-md-4 pt-2"><img src="assets/accueil/maitress2.jpg" id="maitreImg" alt=""></div>
                    <div class="card-body col-md-8">
                      <p class="card-text fw-bold mt-3">Zeyda Fatima Fall</p>
                      <p class="card-textdet fw-bold">Maitre coranique</p>
                    </div>
                  </div>
            </div>
            <div class="container col-sm-4 col-md-4 ">
                <div class="card mb-3" id="cardprimo">
                    <div class="card-body">
                      <p class="card-text">A travers cette plateforme nous réfléchissons plus sur les conditions de vie des apprenants.</p>
                    </div>
                </div>
                <div class="row position-absolute rounded-0 mb-3" id="cardBottomprimo">
                    <div class="col-md-4 pt-2"><img src="assets/accueil/maitre2.avif" id="maitreImg" alt=""></div>
                    <div class="card-body col-md-8">
                      <p class="card-text fw-bold mt-3">Serigne Abdoulahi Seck</p>
                      <p class="card-textdet fw-bold">Maitre coranique</p>
                    </div>
                  </div>
            </div>
        </div>
     </section>
     <!-- End Section Témoignages -->

     <!-- Section Actualités -->
     <Section class="actu mt-5" >
        <h3 class="d-flex justify-content-center">Actualités</h3>
        <!-- soulignement -->
        <div class="d-flex justify-content-center mb-4">
          <div class="div1"></div>
          <div class="div2">
          <div class="div3 position-absolute "></div>
          </div>
          <div class="div4"></div>
      </div>
        <!-- End soulignement -->
        <div>
            <div class=" container ">
                <div class="cardAbout mb-3 border-0 mt-4">
                    <div class="row g-0">
                        <div class="imageabout-container col-sm-6  col-md-6 my-5">
                            <div class="imageabout">
                              <img src="assets/actu1.jpeg" class="img-fluid" id="aboutImage" alt="...">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 mt-5 p-5">
                            <div class="card-body">
                            <br>
                            <p class="cardtext">Des organismes comme<span>“JE SUIS  TALIBE”</span>
                                 plus actifs sur Instagram prend des initiatives remarquables à l’égard de ces jeunes “talibés” en organisant  des activités afin de les  distraire un peu.
                                 Ils ne cessent  de faire le  tour  des daaras du pays  pour leur apporter leur soutiens.</p>
                            </div>
                          
                        </div>
                      </div>
                </div>
            </div>
            <hr class="container">
            <div class=" container ">
                <div class="cardAbout mb-3 border-0 mt-4" >
                    <div class="row g-0">
                        <div class="col-md-6 col-sm-6 mt-5 p-5">
                            <div class="card-body">
                            <br>
                            <p class="cardtext">Les daaras inscrits au niveau de  la plateforme <span>“SAMA TALIBE”</span>,
                                 sont  aujourd’hui la preuve de tous les efforts  fournis par  ses différents bienfaiteurs. Une amélioration des conditions  des daaras  est notée et un atmosphère paisible
                                  d’apprentissage  pour les  talibés. </p>
                            </div>
                          
                        </div>
                        <div class="imageabout-container col-sm-6  col-md-6 my-5">
                            <div class="imageabout">
                              <img src="assets/actu2.jpg" class="img-fluid" id="aboutImage" alt="...">
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
     </Section>
     <!-- End Section Actualités -->

     <!-- Section Contact -->
     <section class="contact">
        <h3 class="text-center" style="color: #252649;"> Contact</h3>
           <!-- soulignement -->
            <div class="d-flex justify-content-center mb-4">
                <div class="div1"></div>
                <div class="div2">
                <div class="div3 position-absolute "></div>
                </div>
                <div class="div4"></div>
            </div>
            <!-- End soulignement -->

            <div class="contactcontent row mt-5 container" style="margin: 0 auto;">
                <div class="one col-md-6 col-sm-6 ">
                        <div class="put row">
                            <div class="mb-3 col-sm-6 col-md-6">
                                <input type="name" class="form-control" [(ngModel)]="nom" id="exampleFormControlInput1" placeholder="Nom">
                            </div>
                            <div class="mb-3 col-sm-6 col-md-6">
                                <input type="email" class="form-control" [(ngModel)]="email" id="exampleFormControlInput1" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="subject" class="form-control" [(ngModel)]="sujet" id="exampleFormControlInput1" placeholder="Sujet">
                        </div>
                        <div class="mb-3">
                            <textarea placeholder="Message" class="form-control" [(ngModel)]="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                          <button class="btnContact mt-2" (click)="envoyerMessage()">Envoyer</button>
                        </div>
                </div>
                <div class="col-md-6 col-sm-6 mb-4"><img src="assets/accueil/contactImg.png" id="contactImg" placeholder="Message" alt="">
                </div>

            </div>

     </section>
     <!-- End Section Contact -->
</main>
<app-footer></app-footer>

<!--<div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold">SAMA TALIBE</h1>
    <h3 class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
  </div> -->
