main{
  /* margin: 0;
  padding: 0; */
  /* border: 1px solid red; */
}

#bcgban{
   width: 100%; 
   height: auto; 
}


/* soulignement */
.div1{
  width: 12%;
  margin-top: 18px;
  border-radius: 10px; 
  height: 5px !important; 
  background-color: #C2A966;
}

.div2{
  width: 3%; 
  height: 40px !important; 
  background-color: rgb(236, 236, 236); 
  border-radius: 100%;
}

.div3{
  margin-top: 12px;
  margin-left: 10px; 
  width: 1%; 
  height: 15px !important; 
  background-color: #252649; 
  border-radius: 100%;
}

.div4{
  width: 12%;
  margin-top: 18px;
  border-radius: 10px; 
  height: 5px !important; 
  background-color: #C2A966;
}


 /* BANNIERE */

.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%; /* Ajustez la position verticale du texte */
  left: 40%; /* Ajustez la position horizontale du texte */
  transform: translate(-50%, -50%);
  text-align: start; /* Centrez le texte horizontalement */
}

.banniere{
    margin-top: 160px;
}

.banner-container h1{
    color: #252649;
    font-weight: bold; 
    font-size: 50px;
}

.banner-container p {
    color: white;
    font-weight: bold;
    width: 70%; 
    font-size: 40px; 
    margin-top: 20%;
}

   /* SECTION ABOUT */
.about{
  background-color: #e0ce9b;
  padding:  20px;
}

.cardtext{
  font-size: 20px; 
  font-weight: 3500;
}

.cardtext span{
  font-weight: bold; 
  color: #252649;
}

.imageabout-container {
    position: relative;
}


#aboutImage{
  margin: 0 auto;
}

/* SECTION COMMENT çA  MARCHE */
  
#about h3{
  color: #252649;
}


.imageaboutOne {
    position: relative;
    z-index: 1; /* Assurez-vous que l'image est au-dessus de la div d'arrière-plan */
    left: 8px;
    bottom: 8px;
}

.imageaboutOne img{
  border-radius: 10px;
  border-left: 8px solid #C2A966;
  border-bottom: 8px solid #C2A966;
}


.project-info {
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -50px;
    color: #252649; 
    font-size: 18px;
}


  
.card {
    background-color: #C2A966;
    width: 270px;
    max-height: 250px;
    border-radius: 8px;
}

.cardMarche{
    margin: 0 auto !important;
}

.card-img {
    position: relative;
    top: -30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #252649;
    color: #C2A966;
    font-weight: bold;
    margin: 0 auto;
    font-size: 15px;
    width: 50%;
    height: 80px;
    border-radius: 100%;
}

/* temoignages   */
.temcontent{
  margin: 0 auto !important; 
  height: 250px;
}
/* #cards{
  border: 1px solid red;
  margin: 0 auto;
} */

#cardprimo{
  /* border: 1px solid red; */
  max-width: 18rem;
  height: 400px;
  margin: 0 auto;  
  background-color: rgb(243, 240, 240);
}
.card-body p{
  color: #252649; 
  font-size: 18px; 
  font-weight: 400;
}

.card-text{
  color: #252649;
  font-size: 15px !important;
}

.card-textdet{
  font-size: 15px !important;
  color: white !important; 
  margin-bottom: 20px !important;
}
#maitreImg{
  width: 90%;
  height: 70px;
  border-radius: 100%;
  box-shadow:2px 5px 2px #252649;
}
#cardBottomprimo{
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  width: 78% !important;
  background-color: #C2A966 !important;
  height: 90px; 
  left: 63px !important;
  bottom: 30px;
}



/* SECTION ACTUS */
.imageabout img{
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #252649;
}

.cardtext{
  font-size: 20px; 
  font-weight: 3500;
}

.cardtext span{
  font-weight: bold; 
  color: #252649;
}


/* contacts */
.btnContact{
  background-color: #252649; 
  color: #C2A966; 
  font-weight: bold; 
  width: 100px; 
  font-size: 15px; 
  padding: 12px; 
  border-radius: 10px;
}
#exampleFormControlInput1{
  height: 60px;
  border: 1px solid #C2A966;
}
#exampleFormControlTextarea1{
  height: 250px;
  border: 1px solid #C2A966;
}
#contactImg{
  /* border: 1px solid black; */
  width: 100%;
  height: 400px;
}


/* Resposivité */

@media screen and (max-width: 768px) {
   .banniere{
     margin-top:  18% !important;
     /* border: 1px solid red; */
   }
  .banner-text h1{
    font-size: 20px !important;
    margin-top: 60px;
    font-weight: bold;
  }
  .banner-text p{
    font-size: 12px !important;
    margin-bottom: 50px;
    font-weight: bold;
  }
   .banner-container {
    position: relative;
  }
  .banner-text {
    position: absolute;
    /* top: 50%;  */
    left: 40%; /* Ajustez la position horizontale du texte */
    transform: translate(-50%, -50%);
    text-align: start; /* Centrez le texte horizontalement */
  }


/* temoignages */
.temcontent{
  margin: 0 auto !important; 
  height: 250px;
}

#maitreImg{
  width: 90%;
  height: 30px;
  border-radius: 100%;
  box-shadow:2px 5px 2px #252649;
}



/* actualites */
.actu .imageabout {
  width: 95%;
}

/* contacts */

  #exampleFormControlInput1{
    height: 60px;
    border: 1px solid #C2A966;
    width: 90% !important;
  }
  #exampleFormControlTextarea1{
    height: 250px;
    border: 1px solid #C2A966;
    width: 90% !important;
  }
  #contactImg{
    width: 300px;
  }
}

@media screen and (min-width: 768px){
  #cardBottom{
    /* border: 1px solid red; */
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    width: 22% !important;
    background-color: #C2A966 !important;
    height: 90px !important; 
    top: 1940px !important;
    left: 160px;

    /* display: none !imp5ortant; */
  }
  
  #cardBottom1{
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    width: 22% !important;
    background-color: #C2A966; 
    height: 90px; 
    top: 1940px; 
    left: 535px;
    /* display: none; */
  }
  #cardBottom2{
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    width: 22% !important;
    background-color: #C2A966; 
    height: 90px; 
    top: 1940px; 
    left: 908px;
  
  }
}