<!-- <p>accueil works!</p> -->
<main>
    <section class="banniere" style="height: 500px; border: 1px solid green; margin-bottom: 10%;">
        <div><img src="../../../../assets/accueil/bannerImg1.png" id="bcgban" alt=""></div>
        <!-- <div class="position-absolute">
               <h1 style="color: #252649;">SAMA TALIBE</h1>
               <h5>La plateforme qui vient en aide les dahras pour une  meilleure cohésion.</h5>
        </div> -->
    </section>

    <!-- Banniere-end -->
    <!-- section a propos -->
    <section class="about mt-5" style="background-color: #e0ce9b;">
        <div class=" container ">
            <div class="cardAbout mb-3 border-0 mt-4">
                <div class="row g-0">
                    <div class="col-md-6 mt-5">
                        <div class="card-body">
                        <h3 class="card-title d-flex justify-content-center fw-bold">A propos de nous</h3>
                        <br>
                        <p class="cardtext" style="font-size: 20px; font-weight: 3500;">A travers <span style="font-weight: bold; color: #252649;">"SAMA DAHRA</span>, nous créons un modèle 
                            durable de soutien éducatif et favorable pour les jeunes talibés afin de diminuer 
                            significativement le  nombre  de talibé contraints à la mendicité au Sénégal.</p>
                        </div>
                      
                    </div>
                    <div class="imageabout-container  col-md-6 my-5">
                        <div class="imageabout">
                          <img src="../../../../assets/accueil/ImgAbout.jpeg" class="img-fluid" id="aboutImage" alt="...">
                        </div>
                        <div class="background-div"></div>
                    </div>
                  </div>
            </div>
          </div>
    </section>
        <!--End section a propos -->


    <!-- section comment ça marche -->
    <section class="mt-5 container" id="about">
        <h3 class="d-flex justify-content-center" style="color: #252649;">Comment ça marche</h3>
        <!-- soulignement -->
        <div class="d-flex justify-content-center mb-4">
            <div style="width: 12%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
            <div style="width: 3%; height: 40px !important; background-color: rgb(236, 236, 236); border-radius: 100%;">
            <div class="position-absolute " style="margin-top: 12px;margin-left: 10px; width: 1%; height: 15px !important; background-color: #252649; border-radius: 100%;"></div>
            </div>
            <div style="width: 12%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
        </div>
    <!-- End soulignement -->
        <div class="cardMarche row ">
            <article class="card container mt-5 col-md-4">
                <div class="card-img">
                  <i class="bi bi-person-plus-fill" style="color: #C2A966;"></i>
                  <p class="mt-3">Parrainage</p>
                </div>
                <div class="project-info mt-2" style="color: #252649; font-size: 18px;">
                  <span>En tant que bénévoles, vous pouvez choisir de prendre  en  charge un talibé </span>
                  <hr>
                </div>
            </article>
            <article class="card container mt-5 col-md-4">
                <div class="card-img">
                  <p class="mt-3">Donnation</p>
                </div>
                <div class="project-info mt-2" style="color: #252649; font-size: 18px;">
                  <span>En tant que bénévoles, vous pouvez choisir de prendre  en  charge un talibé </span>
                  <hr>
                </div>
            </article>                
            <article class="card container mt-5 col-md-4">
                <div class="card-img">
                  <p class="mt-3">Sama Dahra</p>
                </div>
                <div class="project-info mt-2" style="color: #252649; font-size: 18px;">
                  <span>En tant que bénévoles, vous pouvez choisir de prendre  en  charge un talibé </span>
                  <hr>
                </div>
            </article>  
        </div>
    </section>
    <!-- End section comment ça marche -->

    <!-- Section Temoignages -->
    <section class="temoignages mt-5">
        <h3 class="d-flex justify-content-center">Témoignages</h3>
        <!-- soulignement -->
            <div class="d-flex justify-content-center mb-4">
                <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
                <div style="width: 3%; height: 40px !important; background-color: rgb(236, 236, 236); border-radius: 100%;">
                <div class="position-absolute " style="margin-top: 12px;margin-left: 13px; width: 1%; height: 15px !important; background-color: #252649; border-radius: 100%;"></div>
                </div>
                <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
            </div>
        <!-- End soulignement -->
        <div class="row container" style="margin: 0 auto !important;">
            <div class="col-md-4 ps-5">
                <div class="card mb-3" style="max-width: 18rem;height: 400px; background-color: rgb(243, 240, 240);">
                    <div class="card-body">
                      <p class="card-text" style="color: #252649; font-size: 18px; font-weight: 400;">Grâce à cette plateforme nous bénéficions  des avantages que  nous  avons actuellement.</p>
                    </div>
                </div>
                <div class="row position-absolute rounded-0 mb-3" id="cardBottom" style="width: 20% !important;background-color: #C2A966; height: 90px; top: 1930px; left: 162px;">
                    <div class="col-md-4 pt-2"><img src="../../../../assets/accueil/maitre coranique.jpg" id="maitreImg" alt=""></div>
                    <div class="card-body col-md-8">
                      <p class="card-text fw-bold mt-3" style="color: #252649;">Serigne Djily Mbaye</p>
                      <p class="card-text fw-bold" style="color: white; margin-bottom: 20px !important;">Maitre coranique</p>
                    </div>
                  </div>
            </div>
            <div class=" col-md-4 ps-5">
                <div class="card mb-3" style="max-width: 18rem;height: 400px; background-color: rgb(243, 240, 240);">
                    <div class="card-body">
                      <p class="card-text" style="color: #252649; font-size: 18px; font-weight: 400;">Les talibés sont plus impliqués de par leur  aisance au sein du dahra.</p>
                    </div>
                </div>
                <div class="row position-absolute rounded-0 mb-3" id="cardBottom" style="width: 20% !important;background-color: #C2A966; height: 90px; top: 1930px; left: 593px;">
                    <div class="col-md-4 pt-2"><img src="../../../../assets/accueil/maitress2.jpg" id="maitreImg" alt=""></div>
                    <div class="card-body col-md-8">
                      <p class="card-text fw-bold mt-3" style="color: #252649;">Zeyda Fatima Fall</p>
                      <p class="card-text fw-bold" style="color: white; margin-bottom: 20px !important;">Maitre coranique</p>
                    </div>
                  </div>
            </div>
            <div class=" col-md-4 ps-5">
                <div class="card mb-3" style="max-width: 18rem;height: 400px; background-color: rgb(243, 240, 240);">
                    <div class="card-body">
                      <p class="card-text" style="color: #252649; font-size: 18px; font-weight: 400;">A travers cette plateforme nous réfléchissons plus sur les conditions de vie des apprenants.</p>
                    </div>
                </div>
                <div class="row position-absolute mb-3" id="cardBottom" style="width: 20% !important;background-color: #C2A966; height: 90px; top: 1930px; left: 1026px;">
                    <div class="col-md-4 pt-2"><img src="../../../../assets/accueil/maitre2.avif" id="maitreImg" alt=""></div>
                    <div class="card-body col-md-8">
                      <p class="card-text fw-bold mt-3" style="color: #252649;">Serigne Abdoulahi Seck</p>
                      <p class="card-text fw-bold" style="color: white; margin-bottom: 20px !important;">Maitre coranique</p>
                    </div>
                  </div>
            </div>
        </div>
     </section>
     <!-- End Section Témoignages -->
     <!-- Section Actualités -->
     <Section class="actu" >
        <h3 class="d-flex justify-content-center">Actualités</h3>
        <!-- soulignement -->
            <div class="d-flex justify-content-center mb-4">
                <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
                <div style="width: 3%; height: 40px !important; background-color: rgb(236, 236, 236); border-radius: 100%;">
                <div class="position-absolute " style="margin-top: 12px;margin-left: 13px; width: 1%; height: 15px !important; background-color: #252649; border-radius: 100%;"></div>
                </div>
                <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
            </div>
        <!-- End soulignement -->
        <div>
            <div class=" container ">
                <div class="cardAbout mb-3 border-0 mt-4">
                    <div class="row g-0">
                        <div class="imageabout-container  col-md-6 my-5">
                            <div class="imageabout">
                              <img src="../../../../assets/accueil/ImgAbout.jpeg" class="img-fluid" id="aboutImage" alt="...">
                            </div>
                        </div>
                        <div class="col-md-6 mt-5 p-5">
                            <div class="card-body">
                            <br>
                            <p class="cardtext" style="font-size: 20px; font-weight: 3500;">Des organismes comme<span style="font-weight: bold; color: #252649;">“JE SUIS  TALIBE”</span>
                                 plus actifs sur Instagram prend des initiatives remarquables à l’égard de ces jeunes “talibés” en organisant  des activités afin de les  distraire un peu.
                                 Ils ne cessent  de faire le  tour  des daaras du pays  pour leur apporter leur soutiens.</p>
                            </div>
                          
                        </div>
                      </div>
                </div>
            </div>
            <div class=" container ">
                <div class="cardAbout mb-3 border-0 mt-4">
                    <div class="row g-0">
                        <div class="col-md-6 mt-5 p-5">
                            <div class="card-body">
                            <br>
                            <p class="cardtext" style="font-size: 20px; font-weight: 3500;">Les daaras inscrits au niveau de  la plateforme <span style="font-weight: bold; color: #252649;">“SAMA TALIBE”</span>,
                                 sont  aujourd’hui la preuve de tous les efforts  fournis par  ses différents bienfaiteurs. Une amélioration des conditions  des daaras  est notée et un atmosphère paisible
                                  d’apprentissage  pour les  talibés. </p>
                            </div>
                          
                        </div>
                        <div class="imageabout-container  col-md-6 my-5">
                            <div class="imageabout">
                              <img src="../../../../assets/accueil/ImgAbout.jpeg" class="img-fluid" id="aboutImage" alt="...">
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
     </Section>
     <!-- End Section Actualités -->
     <!-- Section Contact -->
       <section class="contact">
        <h3 class="text-center" style="color: #252649;"> Contact</h3>
           <!-- soulignement -->
           <div class="d-flex justify-content-center mb-4">
             <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
             <div style="width: 3%; height: 40px !important; background-color: rgb(236, 236, 236); border-radius: 100%;">
             <div class="position-absolute " style="margin-top: 12px;margin-left: 13px; width: 1%; height: 15px !important; background-color: #252649; border-radius: 100%;"></div>
             </div>
             <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
         </div>
     <!-- End soulignement -->
     <div class="contactcontent row mt-5" style="margin-left: 10%">
         <div class="col-md-6 ">
                <div class="put row">
                    <div class="mb-3 col-md-6">
                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="nom">
                    </div>
                    <div class="mb-3 col-md-6">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="e-mail">
                    </div>
                </div>
                <div class="mb-3">
                    <input type="subject" class="form-control" id="exampleFormControlInput1" placeholder="Sujet">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
         </div>
         <div class="col-md-6"><img src="assets/accueil/contactImg.png" id="contactImg" placeholder="Messa" alt="">
        </div>

     </div>

       </section>
     <!-- End Section Contact -->
</main>

<!--<div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold">SAMA TALIBE</h1>
    <h3 class="fw-normal text-muted mb-3">Build anything you want with Aperture</h3>
  </div> -->
