<!-- <p>register works!</p> -->
<div class="content mt-4" style="border: 1px solid #C2A966;border-radius: 5px; width: 70%;margin: 0 auto;">
    <div class="position-absolute" style="width: 15%; height: 30%; background-color: #C2A966; border-radius: 0 100% 100% "></div>
    <div class="position-absolute" style="width: 15%; height: 30%; background-color: #C2A966; top: 351px; left: 955px; border-radius: 100% 100% 0"></div>
    <div class="form-container my-5" style="margin: 0 auto; width: 50%;">
        <p class="title">Nous rejoindre</p>
        <form class="form">
            <div class="input-group">
                <label for="username"  class="ms-2" style="color: #C2A966;">Adresse-mail:</label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="password" class="ms-2" style="color: #C2A966;">Mot de passe:</label>
                <input type="password" name="password" id="password" placeholder="">
            </div>
            <div class="input-group">
                <label for="password" class="ms-2" style="color: #C2A966;">Confirmer son mot de passe:</label>
                <input type="password" name="password" id="password" placeholder="">
            </div>
            <button class="sign mt-4" style="background-color: #C2A966; color: white; font-weight: bold;">S'inscrire'</button>
        </form>
</div>
