@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.active-link {
    color: #C2A966 !important; 
    text-decoration: none;
}



/* validation */
span.span_validate
{
  font-size: 12px;
  display: none;
  transition: ease 1.5s;
}

.error
{
  display: inline-block !important;
  color: red !important;
}
.success
{
  display: inline-block !important;
  color: rgb(45, 194, 77) !important;
}


