@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.active-link {
    color: #C2A966 !important; 
    text-decoration: none;
}



/* validation */
span.span_validate
{
  font-size: 12px;
  display: none;
  transition: ease 1.5s;
}

.error
{
  display: inline-block !important;
  color: red !important;
}
.success
{
  display: inline-block !important;
  color: rgb(45, 194, 77) !important;
}

#inProgress{
  display: flex;
  justify-content: end;
}

#progress{
  background-color: #252649; 
  color: #C2A966; 
  font-size: 40px; 
  box-shadow: 1px 1px 1px 1px #C2A966;
  border-radius: 100px; 
  padding: 3px 13px;
  cursor: pointer;
}

