
<!-- <p>accueil works!</p> -->
<body id="page-top" style="">

    <!-- Page Wrapper -->
    <div class="row" id="wrapper">
  
        <!-- Sidebar -->
        <div class="col-md-3" style="background-color: #252649;height: 674px;">
          <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="">
            <li style="margin-bottom: 40%;">
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <img class="mt-5 container" style="" id="logodash"  src="../../../../assets/LOGOS/LogoFooter.png" alt="">
              </a>
            </li>
            <li>
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-house" style="color: #C2A966;"></i>Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-hand-holding-droplet" style="color: #C2A966;"></i>Donnations
              </a>
            </li>
            <li>
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-user-xmark" style="color: #C2A966;"></i>Parrainages
              </a>
            </li>
            <li>
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-user-group" style="color: #C2A966;"></i>Rôles
              </a>
            </li>
            <li>
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-house-chimney-user" style="color: #C2A966;"></i>Dahras
              </a>
            </li>   
      
            <div class="d-sm-flex align-items-center justify-content-between my-4" style="margin: 0 auto;">
              <a href="#" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
              <i class="bi bi-box-arrow-left me-3" style="color: #C2A966;font-size: 30px;font-weight: bold; "></i>Déconnexion</a>
          </div>
    
         </ul>
        </div>
        <!-- End of Sidebar -->
  
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="p-0 d-flex flex-column col-md-9" >
  
            <!-- Main Content -->
            <div id="content">
  
                <!-- Topbar -->
                <nav class="p-3 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"style="height: 70px; background-color: white; border-bottom: 1px solid #252649; border-right: 1px solid #252649;">
                  <div class="container-fluid"> 
                    <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarsExample02">
                      <form role="search">
                        <input class="form-control p-2" style="border-radius: 17px; box-shadow: 1px 1px 1px #252649; " type="search" placeholder="Rechercher..." aria-label="Search">
                      </form>
                      <div class="dropdown me-3">
                          <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                          </a>
                          <ul class="dropdown-menu text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                          </ul>
                      </div>
                    </div>
                  </div> 
                </nav>
                <!-- End of Topbar -->
                        <!-- Page Heading -->
    
                        <!-- Content Row -->
                <div class="row" style="">
                           <!-- card projet réalisés -->
                              <div class="card col-md-3 ps-3" style="margin: 0 auto; width: 16rem; box-shadow: 2px 1px 1px 2px #C2A966;">
                                <div class="card-body row">
                                  <div class="col-md-4 text-xs font-weight-bold text-uppercase mb-1" style="color:#F09E4D;">
                                    <i class="bi bi-house-door-fill " style="font-size: 50px; color: #252649; "></i>
                                  </div>
                                  <div class="col-md-8 font-weight-bold my-2" > 
                                    <h4 class="fw-bold me-2" style=" color:#C2A966;">1876</h4>
                                    <h6 style=" color: #252649;">Dahras présents  sur la plateforme</h6>
                                  </div>                              
                                </div>
                              </div>
                              <div class="card col-md-3 ps-3" style="margin: 0 auto; width: 16rem; box-shadow: 2px 1px 1px 2px #C2A966;">
                                <div class="card-body row">
                                  <div class="col-md-4 text-xs font-weight-bold text-uppercase mb-1" style="color:#F09E4D;">
                                    <i class="bi bi-house-door-fill " style="font-size: 50px; color: #252649; "></i>
                                  </div>
                                  <div class="col-md-8 font-weight-bold my-2" > 
                                    <h4 class="fw-bold me-2" style=" color:#C2A966;">760</h4>
                                    <h6 style=" color: #252649;">Talibés pris en charge</h6>
                                  </div>                              
                                </div>
                              </div>
                              <div class="card col-md-3 ps-3" style="margin: 0 auto; width: 16rem; box-shadow: 2px 1px 1px 2px #C2A966;">
                                <div class="card-body row">
                                  <div class="col-md-4 text-xs font-weight-bold text-uppercase mb-1" style="color:#F09E4D;">
                                    <i class="bi bi-house-door-fill " style="font-size: 50px; color: #252649; "></i>
                                  </div>
                                  <div class="col-md-8 font-weight-bold my-2" > 
                                    <h4 class="fw-bold me-2" style=" color:#C2A966;">43%</h4>
                                    <h6 style=" color: #252649;">Une diminution de la mendicité</h6>
                                  </div>                              
                                </div>
                              </div>
                              <div class="card col-md-3 ps-3" style="margin: 0 auto; width: 16rem; box-shadow: 2px 1px 1px 2px #C2A966;">
                                <div class="card-body row">
                                  <div class="col-md-4 text-xs font-weight-bold text-uppercase mb-1" style="color:#F09E4D;">
                                    <i class="bi bi-house-door-fill " style="font-size: 50px; color: #252649; "></i>
                                  </div>
                                  <div class="col-md-8 font-weight-bold my-2 " > 
                                    <h4 class="fw-bold me-2" style=" color:#C2A966;">537</h4>
                                    <h6 style=" color: #252649;">Bénévoles nous accompagnent</h6>
                                  </div>                              
                                </div>
                              </div>
                </div>
                <div class="table-responsive small m-5" style="border: 1px solid #C2A966; border-radius: 10px;">
                  <h5 class="text-center p-2" style="color: #252649;">Liste des dahras de la plateforme</h5>
                  <table class="table table-striped table-sm" style="width: 100%;">
                    <thead>
                      <tr class="">
                        <th scope="col" style="color: white; background-color: #C2A966;width: 20%;" class="ps-5">Image</th>
                        <th scope="col" style="color: white; background-color: #C2A966; width: 20%;">Nom du dahra</th>
                        <th scope="col" style="color: white; background-color: #C2A966;width: 20%;">Fondateur</th>
                        <th scope="col" style="color: white; background-color: #C2A966;width: 20%;">Lieu</th>
                        <th scope="col" style="color: white; background-color: #C2A966;width: 20%;">Nombre d'apprenants</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="height: 60px; margin-top: 20px !important;">
                        <td class="ps-5"><img src="../../../../assets/adminSupDahraTable.jpg" id="admindatable" alt=""></td>
                        <td>Dahra de Kocci</td>
                        <td>Serigne A. Tall</td>
                        <td>Louga</td>
                        <td>230</td>
                      </tr>
                      <tr style="height: 60px;">
                        <td class="ps-5"><img src="../../../../assets/adminSupDahraTable.jpg" id="admindatable" alt=""></td>
                        <td>Dahra de Kocci</td>
                        <td>Serigne A. Tall</td>
                        <td>Louga</td>
                        <td>230</td>
                      </tr>
                      <tr style="height: 60px;">
                        <td class="ps-5" ><img src="../../../../assets/adminSupDahraTable.jpg" id="admindatable" alt=""></td>
                        <td>Dahra de Kocci</td>
                        <td>Serigne A. Tall</td>
                        <td>Louga</td>
                        <td>230</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                        
  
            </div>
        <!-- End of Content Wrapper -->
  
        </div>
    </div>
    <!-- End of Page Wrapper -->
  
  
  
  
  </body>
  
  
  
  
  
  