<!-- <p>apropos works!</p> -->
<app-header></app-header>

<main>

         <!-- Modal -->
         <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="margin: 0 auto;">
            <div class="modal-content p-5">
              <div class="modal-header">
                <h1 class="modal-title fs-5" style="margin: 0 auto; color: #252649;" id="exampleModalLabel">Authentifiez-vous d'abord</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                 <button type="button" class="btn" style="background-color: #252649; color: #C2A966; border: none; box-shadow:1px 1px 1px 1px #C2A966; font-weight: bold;" routerLink="/login">Connexion</button>
            </div>
          </div>
        </div>

  <section class="banniere" style="margin-top: 160px;">
    <div class="banner-container">
      <img src="assets/aproposImg/proposBannerImg.png" alt="Bannière" id="bcgban" class="banner-image">
      <div class="banner-text">
        <h1 style="color: #252649;font-weight: bold; font-size: 50px;">A propos de nous </h1>
        <h4 style="color: #252649;font-weight: bold; font-size: 30px;"> Qui sommes-nous?</h4>
        <p style="color: white;font-weight: bold;width: 70%; font-size: 40px; margin-top: 20%;">Les conditions de vie de ces jeunes talibés au sein des dahras nous préoccupent</p>
      </div>
    </div>
</section>


      <div class="container mt-5">
        <video class="container" style="border:1px solid #252649; border-radius: 2%; box-shadow:1px 1px 1px #252649; padding: 1%;" src="assets/vidéo.mp4" controls></video>
      </div>
    <!-- SECTION OBJECTIFS -->
    <section class="objectifs">
      <h3 class="text-center mt-5" style="color: #252649;">SAMA TALIBE à travers nos obectifs</h3>
          <!-- soulignement -->
      <div class="d-flex justify-content-center mb-4">
        <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
        <div style="width: 3%; height: 40px !important; background-color: rgb(236, 236, 236); border-radius: 100%;">
        <div class="position-absolute " style="margin-top: 12px;margin-left: 13px; width: 1%; height: 15px !important; background-color: #252649; border-radius: 100%;"></div>
        </div>
        <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
      </div>
  <!-- End soulignement -->
      <div class="card-group container">
          <div class="card pt-5" style=" height: 300px;" >
            <div class="card-body text-align-center" style="width: 70% !important; height: 350px !important; border-top: 5px solid #C2A966; border-top-right-radius: 50%; border-top-left-radius: 50%;">
              <p class="card-text p-4">Nous oeuvrons à &méliorer efficacement les conditions de vie des talibés au Sénégal, confrontés à des défis tels que la mendicité forcée,des conditions de vie précaires et une éducation limitée..</p>
            </div>
          </div>
          <div class="card pt-5" style=" height: 300px;">
            <div class="card-body text-align-center" style="width: 70% !important; height: 300px !important; border-bottom: 5px solid #C2A966; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;">
              <p class="card-text p-4">A travers ces parrainages SAMA TALIBE contribue à la résolution des problémes liés à la mendicité en assurant une meilleure prise en  charge.</p>
            </div>
          </div>
          <div class="card pt-5" style=" height: 300px;">
            <div class="card-body text-align-center" style="width: 70% !important; height: 350px !important; border-top: 5px solid #C2A966; border-top-right-radius: 50%; border-top-left-radius: 50%;">
              <p class="card-text p-4">Ces parrainages peuvent faciliter l'acces à des ressources essentielles telles que la nourriture, l'éducation, les soins de santé et un logement décent en passant par notre concept de Ndeye Dahra/ Baye Dahra.</p>
            </div>
          </div>
      </div>
    </section>
    <!-- END SECTION OBJECTIFS -->
    
    <!-- SECTION STATISTIQUES -->
    <div class="chifclef mt-5 row">
        <h3 class="text-center" style="color: #252649;">L'impact au niveau des dahras</h3>
            
        <!-- soulignement -->
        <div class="d-flex justify-content-center mb-4">
            <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
            <div style="width: 3%; height: 40px !important; background-color: rgb(236, 236, 236); border-radius: 100%;">
               <div class="position-absolute " style="margin-top: 12px;margin-left: 13px; width: 1%; height: 15px !important; background-color: #252649; border-radius: 100%;"></div>
           </div>
            <div style="width: 10%;margin-top: 18px;border-radius: 10px; height: 5px !important; background-color: #C2A966;"></div>
       </div>
        <!-- End soulignement -->
    
    
        <div class="card col-md-2 container" style="background-color: #C2A966;">
            <h1 style="color: #252649; font-weight: bold;">1846</h1>
            <div class="icons"><i class="bi bi-people-fill" style="color: #252649;"></i></div>
            <div class="card__content">
              <p class="card__title" style="color: #C2A966;">1846</p>
              <p class="card__description" style="color: #C2A966;">Enfants talibés pris en charge par des bénévoles.</p>
            </div>
        </div>
        <div class="card col-md-2 container" style="background-color: #252649;">
            <h1 style="color: #C2A966; font-weight: bold;">246</h1>
            <div><i class="bi bi-house-door-fill" style="color: #C2A966;"></i></div>
            <div class="card__content">
              <p class="card__title" style="color: #252649;">246</p>
              <p class="card__description" style="color: #252649;">Dahras bénéficient de nombreux donnations.</p>
            </div>
        </div>
        <div class="card col-md-2 container" style="background-color: #C2A966;">
            <h1 style="color: #252649; font-weight: bold;">1056</h1>
            <div><i class="bi bi-house-up-fill" style="color: #252649;"></i></div>
            <div class="card__content">
              <p class="card__title" style="color: #C2A966;">1056</p>
              <p class="card__description" style="color: #C2A966;">Dahras convergent vers la modernisation.</p>
            </div>
        </div>
    </div>
    <!--END SECTION STATISTIQUES -->
    
    <!-- SECTION BANNER BOTTOM -->
                 <div class="p-4 p-md-5 mb-4 mt-5 text-body-emphasis bg-body-secondary" id="bannerImage">
                    <div class="col-lg-6 px-0 py-2" style="color: #C2A966; margin: 0 auto;">
                      <p class="lead fs-1 fw-bold text-white">Vous pouvez aussi en faire partie</p>
                      <div class="row"  style="color: white">
                          <div class="container col-md-3"><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: #C2A966; background-color: #252649; padding: 12px; font-weight: bold; border: none; font-size: 15px">Faire un don</a></div>
                          <div class="container col-md-1 mt-2" style="margin: 0 auto;"><h3>OU</h3></div>
                          <div class="container col-md-3"><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: #C2A966; background-color: #252649; padding: 12px; font-weight: bold; border: none;width: 140px; font-size: 15px">Parrainer</a></div>
                      </div>
                    </div>
                  </div>
    <!-- SECTION BANNER BOTTOM -->


      
</main>

<app-footer></app-footer>


