main{
  margin: 0;
  padding: 0;
}

#bcgban{
   width: 100%; 
   height: auto;
  
}

.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%; /* Ajustez la position verticale du texte */
  left: 40%; /* Ajustez la position horizontale du texte */
  transform: translate(-50%, -50%);
  text-align: start; /* Centrez le texte horizontalement */
}


#cardImg{
  width: 100%;
  border-radius: 1%;
}
#détailImg{
  width:100%;
  border-radius: 30% 0 30% 0;
  /* box-shadow: 5px 5px 5px 5px #252649; */
  border-top: 8px solid #252649;
  border-left: 8px solid #252649;
  
}

/* paginations */
