*{
  margin: 0;
}
#logoheader{
    width: 50%;
    margin: 0 auto;
}
.headerTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: white;
    box-shadow: 1px 1px 1px #252649;
  }




