<!-- <p>header works!</p> -->
<header (window:scroll)="onScroll($event)" [ngClass]="{'fixed-header': isHeaderFixed}" style="border-bottom: 3px solid #252649;">
    <div class="px-3 py-2 border-bottom" style="background-color: #252649;">
      <div class="">
        <div class="d-flex flex-wrap justify-content-between justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <p style="color: #C2A966; font-size: 12px;">Nimbal ci dahra yi, moy taxawu talibé yi</p>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter" style="color: #C2A966;"></i></a></li>
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook" style="color: #C2A966;"></i></a></li>
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-linkedin" style="color: #C2A966;"></i></a></li>
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram" style="color: #C2A966;"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 mb-3 row" style="margin: 0 auto;">
              <div class="col-md-4 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="assets/LOGOS/LogoHeader.png" alt="" id="logoheader">
                </a>
              </div>
        
              <ul class="nav col-12 col-md-5 mt-4 fs-5 justify-content-center mb-md-0">
                <li><a routerLink="/accueil" [class.active-link]="isLinkActive('/accueil')" style="margin-right:40px; text-decoration: none; color: #252649; font-weight: bold;">Accueil</a></li>
                <li><a routerLink="/a-propos" [class.active-link]="isLinkActive('/a-propos')" style="margin-right:40px ; text-decoration: none; color: #252649; font-weight: bold;">A propos</a></li>
                <li>
                  <a (click)="toggleDahrasDropdown()" style="margin-right:40px; text-decoration: none; color: #252649; font-weight: bold; cursor: pointer;">Dahras</a>
                
                  <!-- Dropdown content -->
                  <ul *ngIf="isDahrasDropdownVisible ">
                    <li style="list-style: none; font-weight: bold; "><a routerLink="/listdahra" [class.active-link]="isLinkActive('/dahra/liste')" style="text-decoration: none;color: #252649;">Liste des dahras</a></li>
                    <li style="list-style: none; font-weight: bold; "><a class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none;color: #252649; border: none; font-size: 20px; font-weight: bold;">Sama dahra</a></li>
                      <!-- Button trigger modal -->
                                <!-- Modal -->
                                <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content p-5">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" style="margin: 0 auto; color: #252649;" id="exampleModalLabel">Authentifiez-vous d'abord</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                         <button type="button" class="btn" style="background-color: #252649; color: #C2A966; border: none; box-shadow:1px 1px 1px 1px #C2A966; font-weight: bold;" routerLink="/login">Connexion</button>
                                    </div>
                                  </div>
                                </div>
                  </ul>
                </li>



                <li>
                  <a (click)="toggleSoutiensDropdown()" style="margin-right:40px; text-decoration: none; color: #252649; font-weight: bold; cursor: pointer;">Soutiens</a>
                
                  <!-- Dropdown content -->
                  <ul *ngIf=" isSoutiensDropdownVisible">
                    <li style="list-style: none; font-weight: bold; "><a routerLink="/donnations" [class.active-link]="isLinkActive('/donnations')" style="text-decoration: none;color: #252649;">Donnations</a></li>
                    <li style="list-style: none; font-weight: bold; "><a routerLink="/parrains" [class.active-link]="isLinkActive('/parrains')" style="text-decoration: none;color: #252649;">Parrainages</a></li>
                  </ul>
                </li>

              </ul>
        
              <div class="col-md-3 mt-4 container" style="padding-left: 190px !important;">
                <button type="button" routerLink="/login" class="btn" style="background-color: #252649; color: #C2A966; box-shadow: 1px 1px 1px 1px #C2A966;">Connexion</button>
              </div>
    </div>
  </header>