<app-header></app-header>
<main>
    <h3 class="text-center mt-5" style="color: #252649;"><i class="bi bi-arrow-left-short" routerLink="/listdahra" style="font-size: 30px; color: #252649; font-weight: bold;"></i>Liste de nos apprenants</h3>
    <div class="container mt-5">
        <div class="search"><input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search" style="border:1px solid #252649; color: #252649; width: 50%; margin-left: 50%;"></div>
    </div>
    <div class="row my-5">
        <div class="col-md-4 card-container" style="margin: 0 auto; box-shadow: 1px 1px 1px 1px #252649;">
            <div class="card">
            <div class="front-content">
              <img src="assets/talibés.jpg" alt="">
            </div>
            <div class="content" style="background-color: #C2A966;">
             <div class="row">
                <div class="col-md-4"><img src="assets/talibés.jpg" id="imgSymetrique" alt=""></div>
               <div class="col-md-8 text-start">
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Prénom:</span> Saliou</p>
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Nom:</span> Leye</p>
               </div>
             </div>
              <p style="color: #252649; margin-right: 140px;"><span style="font-weight: bold;">Origine:</span>Kaolack</p>
              <p style="color: #252649; margin-right: 180px;"><span style="font-weight: bold;">Age:</span>8 ans</p>
              <p style="color: #252649;"><span style="font-weight: bold; ">Description:</span>Lorem ipsum dolor sit, amet 
              consectetur adipisicing elit.</p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none; box-shadow:1px 1px 1px 1px #252649;">Parrainer</button>
                 <!-- Button trigger modal --
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p class="text-center" style="color: #252649; color: #C2A966; font-weight: bold;">Authentifier-vous d'abord</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;" routerLink="/login">Connexion</button>
                                </div>
                            </div>
                            </div>
                        </div>
            </div>
          </div>
        </div>   
        <div class="col-md-4 card-container" style="margin: 0 auto; box-shadow: 1px 1px 1px 1px #252649;">
            <div class="card">
            <div class="front-content">
              <img src="assets/talibés.jpg" alt="">
            </div>
            <div class="content" style="background-color: #C2A966;">
             <div class="row">
                <div class="col-md-4"><img src="assets/talibés.jpg" id="imgSymetrique" alt=""></div>
               <div class="col-md-8 text-start">
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Prénom:</span> Saliou</p>
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Nom:</span> Leye</p>
               </div>
             </div>
              <p style="color: #252649; margin-right: 140px;"><span style="font-weight: bold;">Origine:</span>Kaolack</p>
              <p style="color: #252649; margin-right: 180px;"><span style="font-weight: bold;">Age:</span>8 ans</p>
              <p style="color: #252649;"><span style="font-weight: bold; ">Description:</span>Lorem ipsum dolor sit, amet 
              consectetur adipisicing elit.</p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none; box-shadow:1px 1px 1px 1px #252649;">Parrainer</button>
                 <!-- Button trigger modal --
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p class="text-center" style="color: #252649; color: #C2A966; font-weight: bold;">Authentifier-vous d'abord</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;" routerLink="/login">Connexion</button>
                                </div>
                            </div>
                            </div>
                        </div>
            </div>
          </div>
        </div>   
        <div class="col-md-4 card-container" style="margin: 0 auto; box-shadow: 1px 1px 1px 1px #252649;">
            <div class="card">
            <div class="front-content">
              <img src="assets/talibés.jpg" alt="">
            </div>
            <div class="content" style="background-color: #C2A966;">
             <div class="row">
                <div class="col-md-4"><img src="assets/talibés.jpg" id="imgSymetrique" alt=""></div>
               <div class="col-md-8 text-start">
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Prénom:</span> Saliou</p>
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Nom:</span> Leye</p>
               </div>
             </div>
              <p style="color: #252649; margin-right: 140px;"><span style="font-weight: bold;">Origine:</span>Kaolack</p>
              <p style="color: #252649; margin-right: 180px;"><span style="font-weight: bold;">Age:</span>8 ans</p>
              <p style="color: #252649;"><span style="font-weight: bold; ">Description:</span>Lorem ipsum dolor sit, amet 
              consectetur adipisicing elit.</p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none; box-shadow:1px 1px 1px 1px #252649;">Parrainer</button>
                 <!-- Button trigger modal --
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p class="text-center" style="color: #252649; color: #C2A966; font-weight: bold;">Authentifier-vous d'abord</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;" routerLink="/login">Connexion</button>
                                </div>
                            </div>
                            </div>
                        </div>
            </div>
          </div>
        </div>   
    </div>
    <div class="row my-5">
        <div class="col-md-4 card-container" style="margin: 0 auto; box-shadow: 1px 1px 1px 1px #252649;">
            <div class="card">
            <div class="front-content">
              <img src="assets/talibés.jpg" alt="">
            </div>
            <div class="content" style="background-color: #C2A966;">
             <div class="row">
                <div class="col-md-4"><img src="assets/talibés.jpg" id="imgSymetrique" alt=""></div>
               <div class="col-md-8 text-start">
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Prénom:</span> Saliou</p>
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Nom:</span> Leye</p>
               </div>
             </div>
              <p style="color: #252649; margin-right: 140px;"><span style="font-weight: bold;">Origine:</span>Kaolack</p>
              <p style="color: #252649; margin-right: 180px;"><span style="font-weight: bold;">Age:</span>8 ans</p>
              <p style="color: #252649;"><span style="font-weight: bold; ">Description:</span>Lorem ipsum dolor sit, amet 
              consectetur adipisicing elit.</p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none; box-shadow:1px 1px 1px 1px #252649;">Parrainer</button>
                 <!-- Button trigger modal --
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p class="text-center" style="color: #252649; color: #C2A966; font-weight: bold;">Authentifier-vous d'abord</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;" routerLink="/login">Connexion</button>
                                </div>
                            </div>
                            </div>
                        </div>
            </div>
          </div>
        </div>   
        <div class="col-md-4 card-container" style="margin: 0 auto; box-shadow: 1px 1px 1px 1px #252649;">
            <div class="card">
            <div class="front-content">
              <img src="assets/talibés.jpg" alt="">
            </div>
            <div class="content" style="background-color: #C2A966;">
             <div class="row">
                <div class="col-md-4"><img src="assets/talibés.jpg" id="imgSymetrique" alt=""></div>
               <div class="col-md-8 text-start">
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Prénom:</span> Saliou</p>
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Nom:</span> Leye</p>
               </div>
             </div>
              <p style="color: #252649; margin-right: 140px;"><span style="font-weight: bold;">Origine:</span>Kaolack</p>
              <p style="color: #252649; margin-right: 180px;"><span style="font-weight: bold;">Age:</span>8 ans</p>
              <p style="color: #252649;"><span style="font-weight: bold; ">Description:</span>Lorem ipsum dolor sit, amet 
              consectetur adipisicing elit.</p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none; box-shadow:1px 1px 1px 1px #252649;">Parrainer</button>
                 <!-- Button trigger modal --
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p class="text-center" style="color: #252649; color: #C2A966; font-weight: bold;">Authentifier-vous d'abord</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;" routerLink="/login">Connexion</button>
                                </div>
                            </div>
                            </div>
                        </div>
            </div>
          </div>
        </div>   
        <div class="col-md-4 card-container" style="margin: 0 auto; box-shadow: 1px 1px 1px 1px #252649;">
            <div class="card">
            <div class="front-content">
              <img src="assets/talibés.jpg" alt="">
            </div>
            <div class="content" style="background-color: #C2A966;">
             <div class="row">
                <div class="col-md-4"><img src="assets/talibés.jpg" id="imgSymetrique" alt=""></div>
               <div class="col-md-8 text-start">
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Prénom:</span> Saliou</p>
                   <p style="color: #252649; margin-left: 10px;"><span style="font-weight: bold;">Nom:</span> Leye</p>
               </div>
             </div>
              <p style="color: #252649; margin-right: 140px;"><span style="font-weight: bold;">Origine:</span>Kaolack</p>
              <p style="color: #252649; margin-right: 180px;"><span style="font-weight: bold;">Age:</span>8 ans</p>
              <p style="color: #252649;"><span style="font-weight: bold; ">Description:</span>Lorem ipsum dolor sit, amet 
              consectetur adipisicing elit.</p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none; box-shadow:1px 1px 1px 1px #252649;">Parrainer</button>
                 <!-- Button trigger modal --
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p class="text-center" style="color: #252649; color: #C2A966; font-weight: bold;">Authentifier-vous d'abord</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;" routerLink="/login">Connexion</button>
                                </div>
                            </div>
                            </div>
                        </div>
            </div>
          </div>
        </div>   
    </div>
</main>
<app-footer></app-footer>