
<!-- <p>accueil works!</p> -->
<body id="page-top" style="">

    <!-- Page Wrapper -->
    <div class="row" id="wrapper">
  
        <!-- Sidebar -->
        <div class="col-md-3" id="sidebar">
          <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="">
            <li style="margin-bottom: 40%;">
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <img class="mt-5 container" style="" id="logodash"  src="../../../../assets/LOGOS/LogoFooter.png" alt="">
              </a>
            </li>
            <li>
              <a  class="nav-link ps-5 mb-2" routerLink="/dashmaitre"  style="height: 50px; color: white; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-house" style="color: white;"></i>Dashboard
              </a>
            </li>
            <li>
              <a  class="nav-link ps-5 mb-2" routerLink="/samadahra"  style="cursor: pointer; height: 50px; color: white; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-house"  style="color: white;"></i>Sama Dahra
              </a>
            </li>
            <li>
              <a  class="nav-link ps-5 mb-2" routerLink="/donsmaitre" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-hand-holding-droplet" style="color: #C2A966;"></i>Donnations
              </a>
            </li>
            <li>
              <a class="nav-link ps-5 mb-2" routerLink="/parrainmaitre" style="height: 50px; color: white; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-user-xmark" style="color: white;"></i>Parrainages
              </a>
            </li>
      
            <div class="d-sm-flex align-items-center justify-content-between my-4" style="margin: 0 auto;">
              <a class="d-none d-sm-inline-block btn btn-sm shadow-sm" (click)="deconnexion()">
              <i class="bi bi-box-arrow-left me-3" style="color: #C2A966;font-size: 30px;font-weight: bold; "></i>Déconnexion</a>
          </div>
    
         </ul>
        </div>
        <!-- End of Sidebar -->
  
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="p-0 d-flex flex-column col-md-9 m-auto" >
  
            <!-- Main Content -->
            <div id="content">
  
              <!-- Topbar -->
              <nav class="p-3 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"style="height: 70px; background-color: white; border-bottom: 1px solid #252649; border-right: 1px solid #252649;">
                <div class="container-fluid"> 
                  <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarsExample02">
                    <div class="fs-1 fw-bold" style="color: #252649;"><i class="bi bi-list"></i>Dashboard</div>
                    <div class="dropdown me-3">
                        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                          <strong>Admin</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow p-3" style="color: #252649 !important; font-weight: bold !important;">
                          <li><a class="dropdown-item btnU" data-bs-toggle="modal" data-bs-target="#Profile" style="cursor: pointer;" >Profile</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </div>
                  </div>
                </div> 
              </nav>


              <!-- End of Topbar -->
              <div class="" style="margin-top: 100px;">
                <div  class="row p-3 container"  style="margin: 0 auto;">
                  <div class="col-md-3 p-3" *ngFor="let don of dons">
                    <div class="gap-2" >
                        <div class="cardbi mb-3 p-3" style="line-height: 10px; border-radius: 10px; box-shadow: 1px 1px 1px 1px #252649;border-bottom: 10px solid #C2A966;background-color: white;">
                              <div class="mb-3" style="box-shadow: 1px 1px 1px 1px #252649;width: 30%; margin: 0 auto; border-radius: 5px;"><img src="assets/cardonSup.png" alt=""  style="width: 70px;display: flex; align-items: center;"></div>    
                              <p class="card-text py-2" style="color: #252649; font-size: 12px; font-weight: 400;"><span class="fw-bold">Donnateur:</span>{{ don.donateur.prenom }} {{ don.donateur.nom }}</p>
                              <p class="card-text py-2" style="color: #252649; font-size: 12px; font-weight: 400;"><span class="fw-bold">Lieu:</span>{{ don.adresseProvenance}}</p>
                              <p class="card-text py-2" style="color: #252649; font-size: 12px; font-weight: 400;"><span class="fw-bold">Date:</span>{{ don.date }}</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
        <!-- End of Content Wrapper -->
  
        </div>
    </div>
    <!-- End of Page Wrapper -->
  
  
  
  
  </body>
  
  
  
  
  
  