

<!-- <p>accueil works!</p> -->
<body id="page-top" style="">

    <!-- Page Wrapper -->
    <div class="row" id="wrapper">
  
        <!-- Sidebar -->
        <div class="col-md-3" id="sidebar">
          <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="">
            <li style="margin-bottom: 40%;">
              <a href="#" class="nav-link ps-5 mb-2" style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <img class="mt-5 container" style="" id="logodash"  src="../../../../assets/LOGOS/LogoFooter.png" alt="">
              </a>
            </li>
            <li>
              <a  class="nav-link ps-5 mb-2" routerLink="/dashuser"  style="height: 50px; color: #C2A966; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-house" style="color: #C2A966;"></i>Dashboard
              </a>
            </li>
            <li>
              <a  class="nav-link ps-5 mb-2" routerLink="/donsuser" style="height: 50px; color: white;font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-hand-holding-droplet" style="color: white;"></i>Donnations
              </a>
            </li>
            <li>
              <a class="nav-link ps-5 mb-2" routerLink="/parrainuser" style="height: 50px; color: white; font-size: 20px; font-weight: bold;">
                <i class="me-3 fa-solid fa-user-xmark" style="color: white;"></i>Parrainages
              </a>
            </li>
      
            <div class="d-sm-flex align-items-center justify-content-between my-4" style="margin: 0 auto;">
              <a href="#" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
              <i class="bi bi-box-arrow-left me-3" style="color: #C2A966;font-size: 30px;font-weight: bold; "></i>Déconnexion</a>
          </div>
    
         </ul>
        </div>
        <!-- End of Sidebar -->
  
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="p-0 d-flex flex-column col-md-9 m-auto" >
  
            <!-- Main Content -->
            <div id="content">
  
              <!-- Topbar -->
              <nav class="p-3 navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"style="height: 70px; background-color: white; border-bottom: 1px solid #252649; border-right: 1px solid #252649;">
                <div class="container-fluid"> 
                  <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarsExample02">
                    <div class="fs-1 fw-bold" style="color: #252649;"><i class="bi bi-list"></i>Dashboard</div>
                    <div class="dropdown me-3">
                        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                          <strong>Admin</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow p-3" style="color: #252649 !important; font-weight: bold !important;">
                          <li><a class="dropdown-item btnU" data-bs-toggle="modal" data-bs-target="#Profile" style="cursor: pointer;" >Profile</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </div>
                  </div>
                </div> 
              </nav>
              <!-- End of Topbar -->
                        <!-- Page Heading -->
    
                        <!-- Content Row -->
                        <div style="margin-top: 100px;">

                            <form
    class="d-flex justify-content-end mt-3 me-3"
    role="search"
    (submit)="searchDahras()"
  >
    <input
      class="form-control w-25 p-2 rounded-4"
      type="search"
      placeholder="Rechercher"
      aria-label="Search"
      style="
        box-shadow: 1px 1px 1px #252649;
        border: 1px solid #252649;
        color: #252649;
        width: 50%;
        margin-left: 50%;
      "
      [(ngModel)]="searchQuery"
      name="searchQuery"
    />
    <button
      class="btn1 btn1-primary px-3 rounded-2 me-5"
      style="
        background-color: #252649;
        border: 1px solid #252649;
        color: #c2a966;
        font-weight: bold;
        box-shadow: 1px 1px 1px #252649;
      "
      type="submit"
    >
      Ok
    </button>
  </form>
                          <!-- <form class="d-flex justify-content-end mt-3 ms-2" role="search" (submit)="searchDahras()">
                            <input class="form-control w-25 p-2" type="search" placeholder="Rechercher" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
                            <button class="btn1 btn1-primary" type="submit">Ok</button>
                          </form> -->
                          <div class="listDahra my-5 row" *ngIf="showListDahra"  >
                            <div class="contentcard col-md-4" *ngFor="let dahra of dahras | paginate:{ itemsPerPage:itemsPerPage, currentPage:currentPage , totalItems:dahras.length}">
                                <div class="card" style="width: 20rem; box-shadow: 1px 1px 1px 1px #C2A966; margin: 0 auto;">
                                    <div><img [src]="getImage(dahra.image)" id="cardImg" alt=""></div>
                                    <div class="card-body">
                                      <h5 class="mt-2 card-title text-center">{{ dahra.nom }}</h5>  
                                      <div class="row p-2" style="">
                                          <div class="col-md-6 mt-3 fw-bold">
                                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>{{ dahra.nombreTalibe}} apprenants</p>
                                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>{{ dahra.region }}</p>
                                          </div>
                                          <div class="col-md-6">
                                              <a href="#" class="btn" (click)="selectDahra(dahra)"  data-bs-toggle="modal" data-bs-target="#exampleModal" style="width:80%; font-size: 15px; background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966; font-weight: bold;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 15px; font-weight: bold;"></i>Détails</a>
                                          
                                                <!-- Modal -->
                                               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"   aria-hidden="true">
                                                            <div class="modal-dialog mt-5" style="width: 500px; margin: 0 auto;">
                                                            <div class="modal-content" style=" padding: 20px; background-color: white !important; ">
                                                                <div class="modal-header">
                                                                <button type="button" class="btn-close mb-2" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body" style="padding: 20px;">
                                                                    <h5 class="text-center"  style="color: #252649;">{{ selectedDahra?.nom }} </h5>
                                                                    <div class="my-4 row" style="color: #252649;">
                                                                        <div class="col-md-6 mt-3"  >
                                                                            <img [src]="getImage(selectedDahra?.image)"                style="width: 100%; height: 100%; object-fit: cover ; border-radius: 10%; box-shadow: 1px 1px 1px #252649;"
                                                                            id="détailImg" alt="">
                                                                        </div>
                                                                        <div class="col-md-6" style="padding: 20px; border-radius: 10px;">
                                                                          <p><span style=" font-weight: bold;">Nom Ouztas:</span>{{ selectedDahra?.nomOuztas }}</p>
                                                                            <hr class="mb-3">
                                                                            <p><span style=" font-weight: bold;">Region:</span>{{ selectedDahra?.region }}</p>
                                                                            <hr class="mb-3">
                                                                            <p><span style=" font-weight: bold;">Adresse:</span>{{ selectedDahra?.adresse }}</p>
                                                                            <hr class="mb-3">
                                                                            <p style="color: #252649;"><span style="color: #252649; font-weight: bold;">Numero Téléphone Ouztas :</span>{{ selectedDahra?.numeroTelephoneOuztas }}</p>
                                                                            <hr>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer d-flex justify-content-between">
                                                                <button type="button" class="btn " (click)="toggleList('talib',selectedDahra.nom)" data-bs-dismiss="modal" style="font-size: 15px; background-color: #252649;color: #C2A966;font-weight: bold; box-shadow:2px 2px 2px 2px #C2A966; width: 150px;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;" ></i>{{ selectedDahra?.nombreTalibe}} apprenants</button>
                                                                <button type="button" class="btn " routerLink="/donsuser" style="background-color: #252649; color: #C2A966; font-size: 15px; width: 150px; font-weight: bold; border: none;" data-bs-dismiss="modal" aria-label="Close">Faire un don</button>
                                                                </div>
                                                            </div>
                                                            </div>
                                               </div>
                                        </div>
                  
                
                                      </div>
                                    </div>
                                </div>
                            </div>
  
                          </div> 
                          
                          <div class="listTalib"  *ngIf="showListTalib" >
                            <div class="mt-3 d-flex justify-content-center ">
                            </div>
            
                            <div class="table-responsive small mb-5 mx-4" style="border: 1px solid #C2A966; border-radius: 10px;">
                                      <h5 class="text-center p-2" style="color: #252649;"><i class="btn§ bi bi-arrow-left"  (click)="toggleList('dahra')"  style="cursor: pointer; color: #C2A966 ; font-weight: bold; margin-right: 20px;"></i>Liste des Apprenants du dahra</h5>
                                      <table class="table table-striped table-sm" style="width: 100%;">
                                        <thead>
                                          <tr class="">
                                            <th scope="col" style="color: white; background-color: #C2A966;width: 15%;" class="ps-5">Image</th>
                                            <th scope="col" style="color: white; background-color: #C2A966; width: 25%;">Nom du talibé</th>
                                            <th scope="col" style="color: white; background-color: #C2A966;width: 20%;">Origine</th>
                                            <th scope="col" style="color: white; background-color: #C2A966;width: 15%;">Age</th>
                                            <th scope="col" style="color: white; padding-left: 60px; background-color: #C2A966;width: 25%;">Action</th>
                       
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let talibe of talibesList" style="height: 40px; margin-top: 20px !important;">
                                            <td class="ps-5"><img [src]="getImage(talibe?.imageFilename)" style="height: 40px;" id="admindatable" alt=""></td>
                                            <td>{{ talibe?.nom }} {{ talibe?.prenom }}</td>
                                            <td>{{ talibe?.adresse }}</td>
                                            <td>{{ talibe?.age}}</td>
                                            <td style="padding: 20px;">
                                              <i class="btn. me-3 fa-solid fa-user-xmark" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  style="background-color: #252649;border-radius: 5px; box-shadow: 1px 1px 1px #C2A966;margin: 10px !important; cursor: pointer; font-size: 12px;padding: 5px; color: white;" (click)="getTalibeId(talibe.id)"></i>
                                              <i class="bi bi-eye-fill btn3"   data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649;border-radius: 5px;margin: 10px !important; box-shadow: 1px 1px 1px #C2A966;cursor: pointer; font-size: 12px;padding: 5px; color: white;"></i>
                                            
                                              <!-- Button trigger modal -->
                                            </td>
                                          </tr>
                                          
                                          
                                        </tbody>
                                      </table>
                            </div>
                          </div>
  
                          <pagination-controls (pageChange)="setPage($event)" class="mt-3" previousLabel="prev" nextLabel="next" style="color: #252649;font-weight: bold;"></pagination-controls>
                        </div>

                        
                        
  
            </div>
        <!-- End of Content Wrapper -->
  
        </div>
    </div>
    <!-- End of Page Wrapper -->

<!-- Scrollable modal -->

                                                      <!-- Modal -->
                                                      <div class="modal fade mt-5  modal-dialog-scrollable" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog" style="margin: 0 auto;">
                                                          <div class="modal-content" style="padding: 20px !important;">
                                                            <div class="modal-header d-flex justify-content-between">
                                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Condition de parrainages</h1>
                                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body p-3">
                                                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam unde pariatur alias aliquam! Ratione quis corrupti similique dolorum dolorem inventore harum soluta quia, ab nisi reprehenderit labore nam molestias pariatur.
                                                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio accusantium nam necessitatibus ea harum sunt commodi recusandae reprehenderit adipisci itaque illum placeat velit sapiente qui cumque nihil, consequatur blanditiis et.
                                                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo explicabo libero eum officia error laborum fugiat. Voluptatum, necessitatibus. Eum dolorem quos soluta sequi temporibus repellat quasi reprehenderit provident adipisci vel!
                                                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt quam amet veritatis id atque sed est nisi nostrum sint eligendi nam, deserunt, ipsum, consequatur facilis distinctio quibusdam ad eveniet.
                                                            </div>
                                                            <div class="form-check ps-5 mb-3" >
                                                              <input class="form-check-input" type="checkbox" [(ngModel)]="isCheckboxChecked" style="cursor: pointer;" value="" id="flexCheckDefault">
                                                              <label class="form-check-label" for="flexCheckDefault">
                                                                J'accepte les  conditions  de parrainage
                                                              </label>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn btn-secondary" style="width: 100px; font-size: 15px; font-weight: bold;" data-bs-dismiss="modal" [disabled]="!isCheckboxChecked" (click)="makeParrainage(talibeSelected!)" >Continuer</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>



  
</body>
  
  
  
  
  
  