<!-- <p>dahra works!</p> -->
<section class="banniere-5" style="height: 500px; margin-bottom: 10%;">
    <div class="">
       <img src="assets/dahras/dahraImg.png" id="bcgBann" alt="">
    </div>
</section>
 <main>
    <div class="row container">
        <div class="btn col-md-6 mb-3"><button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; box-shadow: 2px 2px 2px 2px #C2A966;">Rejoignez-nous</button></div>
        <div class="search col-md-6"><input type="search" class="form-control " placeholder="Rechercher..." aria-label="Search" style="border:1px solid #252649; color: #252649; width: 50%; margin-left: 50%;"></div>
    </div>
    <hr class="container" style="color: #C2A966;">
    <div class="contenu" style="margin: 0 auto;">
        <div class="my-5 g-3 row container" style="margin: 0 auto;">
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem; box-shadow: 1px 1px 1px 1px #C2A966;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966; font-weight: bold;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>Détails</a>
                          
                                <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content" style="background-color: #C2A966 !important;">
                                                <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h1 class="text-center"  style="color: #252649;">Dahra Al Ihsaan</h1>
                                                    <div class="mb-3 row" style="color: #252649; font-weight: bold;">
                                                        <div class="col-md-6">
                                                            <img src="assets/dahras/Imgcarte1.jpg" id="détailImg" alt="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Nom et prénom Oustaz:</p>
                                                            <hr>
                                                            <p>Région:</p>
                                                            <hr>
                                                            <p>Adresse:</p>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <p>Contact:</p>
                                                        <hr>
                                                        <p>Description:</p>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-between">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #252649;color: #C2A966;font-weight: bold; box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>567 apprenants</button>
                                                <button type="button" class="btn btn-primary" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;">Faire un don</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                        </div>
  

                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem; box-shadow: 1px 1px 1px 1px #C2A966;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966; font-weight: bold;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>Détails</a>
                          
                                <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content" style="background-color: #C2A966 !important;">
                                                <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h1 class="text-center"  style="color: #252649;">Dahra Al Ihsaan</h1>
                                                    <div class="mb-3 row" style="color: #252649; font-weight: bold;">
                                                        <div class="col-md-6">
                                                            <img src="assets/dahras/Imgcarte1.jpg" id="détailImg" alt="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Nom et prénom Oustaz:</p>
                                                            <hr>
                                                            <p>Région:</p>
                                                            <hr>
                                                            <p>Adresse:</p>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <p>Contact:</p>
                                                        <hr>
                                                        <p>Description:</p>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-between">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #252649;color: #C2A966;font-weight: bold; box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>567 apprenants</button>
                                                <button type="button" class="btn btn-primary" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;">Faire un don</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                        </div>
  

                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem; box-shadow: 1px 1px 1px 1px #C2A966;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966; font-weight: bold;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>Détails</a>
                          
                                <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content" style="background-color: #C2A966 !important;">
                                                <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h1 class="text-center"  style="color: #252649;">Dahra Al Ihsaan</h1>
                                                    <div class="mb-3 row" style="color: #252649; font-weight: bold;">
                                                        <div class="col-md-6">
                                                            <img src="assets/dahras/Imgcarte1.jpg" id="détailImg" alt="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Nom et prénom Oustaz:</p>
                                                            <hr>
                                                            <p>Région:</p>
                                                            <hr>
                                                            <p>Adresse:</p>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <p>Contact:</p>
                                                        <hr>
                                                        <p>Description:</p>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-between">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #252649;color: #C2A966;font-weight: bold; box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>567 apprenants</button>
                                                <button type="button" class="btn btn-primary" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;">Faire un don</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                        </div>
  

                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 g-3 row container" style="margin: 0 auto;">
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem; box-shadow: 1px 1px 1px 1px #C2A966;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966; font-weight: bold;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>Détails</a>
                          
                                <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content" style="background-color: #C2A966 !important;">
                                                <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h1 class="text-center"  style="color: #252649;">Dahra Al Ihsaan</h1>
                                                    <div class="mb-3 row" style="color: #252649; font-weight: bold;">
                                                        <div class="col-md-6">
                                                            <img src="assets/dahras/Imgcarte1.jpg" id="détailImg" alt="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Nom et prénom Oustaz:</p>
                                                            <hr>
                                                            <p>Région:</p>
                                                            <hr>
                                                            <p>Adresse:</p>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <p>Contact:</p>
                                                        <hr>
                                                        <p>Description:</p>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-between">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #252649;color: #C2A966;font-weight: bold; box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>567 apprenants</button>
                                                <button type="button" class="btn btn-primary" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;">Faire un don</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                        </div>
  

                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem; box-shadow: 1px 1px 1px 1px #C2A966;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966; font-weight: bold;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>Détails</a>
                          
                                <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content" style="background-color: #C2A966 !important;">
                                                <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h1 class="text-center"  style="color: #252649;">Dahra Al Ihsaan</h1>
                                                    <div class="mb-3 row" style="color: #252649; font-weight: bold;">
                                                        <div class="col-md-6">
                                                            <img src="assets/dahras/Imgcarte1.jpg" id="détailImg" alt="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Nom et prénom Oustaz:</p>
                                                            <hr>
                                                            <p>Région:</p>
                                                            <hr>
                                                            <p>Adresse:</p>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <p>Contact:</p>
                                                        <hr>
                                                        <p>Description:</p>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-between">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #252649;color: #C2A966;font-weight: bold; box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>567 apprenants</button>
                                                <button type="button" class="btn btn-primary" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;">Faire un don</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                        </div>
  

                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem; box-shadow: 1px 1px 1px 1px #C2A966;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966; font-weight: bold;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>Détails</a>
                          
                                <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content" style="background-color: #C2A966 !important;">
                                                <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h1 class="text-center"  style="color: #252649;">Dahra Al Ihsaan</h1>
                                                    <div class="mb-3 row" style="color: #252649; font-weight: bold;">
                                                        <div class="col-md-6">
                                                            <img src="assets/dahras/Imgcarte1.jpg" id="détailImg" alt="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Nom et prénom Oustaz:</p>
                                                            <hr>
                                                            <p>Région:</p>
                                                            <hr>
                                                            <p>Adresse:</p>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <p>Contact:</p>
                                                        <hr>
                                                        <p>Description:</p>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-between">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #252649;color: #C2A966;font-weight: bold; box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px; font-weight: bold;"></i>567 apprenants</button>
                                                <button type="button" class="btn btn-primary" style="background-color: #252649; color: #C2A966; font-weight: bold; border: none;">Faire un don</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                        </div>
  

                      </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" style="color: #C2A966; border: none;" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" ><a class="page-link" style="background-color: #C2A966 !important; color: white; border:1px solid #C2A966; border-radius: 2% !important; box-shadow:1px 1px 1px 1px #C2A966; margin-right: 2%;" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" style="color: rgb(211, 207, 207); border: none;" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav> -->
 </main>
