<!-- <p>dahra works!</p> -->
<section class="banniere-5" style="height: 500px; margin-bottom: 10%;">
    <div class="">
       <img src="assets/dahras/dahraImg.png" id="bcgBann" alt="">
    </div>
</section>
 <main>
    <div class="row container">
        <div class="btn col-md-6 mb-3"><button type="button" class="btn" style="background-color: #252649; color: #C2A966; font-weight: bold; box-shadow: 2px 2px 2px 2px #C2A966;">Rejoignez-nous</button></div>
        <div class="search col-md-6"><input type="search" class="form-control " placeholder="Rechercher..." aria-label="Search" style="border:1px solid #252649; color: #252649; width: 50%; margin-left: 50%;"></div>
    </div>
    <hr class="container" style="color: #C2A966;">
    <div class="contenu" style="margin: 0 auto;">
        <div class="row mb-5">
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px;"></i>Détails</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px;"></i>Détails</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px;"></i>Détails</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px;"></i>Détails</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px;"></i>Détails</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="contentcard  col-md-4">
                <div class="card" style="width: 25rem;">
                    <div><img src="assets/dahras/Imgcarte1.jpg" id="cardImg" alt=""></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">Dahra Al Ihsaan</h5>  
                      <div class="row">
                          <div class="col-md-8">
                              <p class="card-text text-start"><i class="bi bi-person-badge" style="color: #252649; margin-right: 10px;"></i>567 apprenants</p>
                              <p class="card-text text-start"><i class="bi bi-geo-alt-fill" style="color: #252649; margin-right: 10px;"></i>Thies</p>
                          </div>
                          <div class="col-md-4 mt-3">
                              <a href="#" class="btn" style="background-color: #252649;color: #C2A966;box-shadow:2px 2px 2px 2px #C2A966;"> <i class="bi bi-eye-fill" style="color: #C2A966; margin-right: 10px;"></i>Détails</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </main>
