main{
  margin: 0;
  padding: 0;
}

#bcgban{
   width: 100%; 
   height: auto;
  
}

.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%; /* Ajustez la position verticale du texte */
  left: 40%; /* Ajustez la position horizontale du texte */
  transform: translate(-50%, -50%);
  text-align: start; /* Centrez le texte horizontalement */
}

.card-group .card {
   border: none !important;
   background-color: white !important;
}
.card-group{
    margin: 0 auto;
}
  /* card-parrains */
  
  .card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  box-shadow: 5px 5px 6px #dadada,
               -5px -5px 6px #f6f6f6;
  transition: 0.4s;
  }
  
  .card:hover {
  translate: 0 -10px;
  }
  
  .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #252649;
  margin: 0 auto;
  font-weight: bold;
  }
  
  .card-image img{
  min-height: 170px;
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3,
            inset -8px -8px 10px #cfcfcf;
            width: 285px;          
  }
  
  
  .card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 12px;
  }
  
  .footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #636363;
  }
  
  .by-name {
  font-weight: 700;
  }
  .btnfoot a{
  font-size: 12px;
  }
  *{
    padding: 0;
    margin: 0;
  }
  #logodash{
    width: 70%;
    margin: 0 auto;
  }
  .nav-item a i{
    width: 30%;
  }
  .btn{
    background-color: #252649;
    box-shadow: 1px 1px 1px 1px #C2A966 !important;
    width: 300px; font-size: 20px; 
    padding: 10px; margin: 20px; 
    font-weight: bold;
    color: #C2A966;
  } */
  
  /* card-parrains */
  
  .card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  box-shadow: 5px 5px 6px #dadada,
               -5px -5px 6px #f6f6f6;
  transition: 0.4s;
  }
  
  .card:hover {
  translate: 0 -10px;
  }
  
  .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #252649;
  margin: 0 auto;
  font-weight: bold;
  }
  
  .card-image img{
  min-height: 170px;
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3,
            inset -8px -8px 10px #cfcfcf;
            width: 285px;          
  }
  
  
  .card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 12px;
  }
  
  .footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #636363;
  }
  
  .by-name {
  font-weight: 700;
  }
  .btnfoot a{
  font-size: 12px;
  }
  