<!-- <p>footer works!</p> -->
<footer>
  <div class="footerContent mx-md-5 row">
    <div class="col-12 col-md-4 logoFooter border">
      <img src="assets/LOGOS/LogoHeader.png" alt="">
    </div>
    <div class="col-12 col-md-8 contentFooter">
      <form class="border form d-flex footerIpt">
        <input type="email" class="form-control" id="email"  [(ngModel)]="email" placeholder="Votre addresse email.">
        <button class="btn" id="btnFooter" (click)="sAbonnerNewsletter()">S'incrire maintenant!</button>
      </form>
      <div class="row pagesFooter">
        <div class="col-12 col-md-6">
          <h6>Contacts</h6>
          <ul>
            <li><a href="/confidentialité/confidentialite.html"><i class="bi bi-geo-alt-fill" style=" margin-right: 10px;"></i>Sénégal/Dakar: Yoff</a></li>
            <li><a href="/cookies/cookies.html"><i class="bi bi-envelope" style="margin-right: 10px;"></i>samatalibe.sn@gmail.com</a></li>
            <li><a href="/condition-generale/condition.html"><i class="bi bi-telephone-fill" style=" margin-right: 10px;"></i>704877879</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6">
          <h6>Liens</h6>
          <ul>
            <li><a routerLink="/accueil">Accueil </a></li>
            <li><a routerLink="/a-propos">A propos</a></li>
            <li><a routerLink="/listdahra">Liste des dahras</a></li>
            <li><a routerLink="/donnations">Donnations</a></li>
            <li><a routerLink="/parrains">Liste des dahras</a></li>


          </ul>
        </div>
      </div>
      <div class="traitFooter"></div>
      <div class="copyrightFooter d-flex justify-content-between">
        <div class="leftCopy">
          <p>@Copyright 2024 / Projet_Sama_Talibé</p>
        </div>
        <div class="rightCopy">
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>




<!-- <footer class="py-5" style="background-color: #252649;">
  <div class="progress">
    <span class="progressValue" ><i class="bi bi-arrow-up-square-fill" style="color: #252649;"></i></span>
  </div>
    <div class="row">
      <div class="col-6 col-md-3  mb-3">
         <img src="assets/LOGOS/LogoFooter.png " alt="" id="logofooter">
      </div>

      <div class="col-6 col-md-3">
        <h6 class="mb-3 fs-5" style="color: #C2A966; font-weight: bold; margin-left: 15px;">Contacts</h6>
        <ul class="nav flex-column ms-3" style="font-size: 12px;">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #C2A966; font-weight: bold;"><i class="bi bi-geo-alt-fill" style="color: #C2A966; margin-right: 10px;"></i>Sénégal/Dakar: Yoff</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #C2A966; font-weight: bold;"><i class="bi bi-envelope" style="color: #C2A966; margin-right: 10px;"></i>samatalibe.sn@gmail.com</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #C2A966; font-weight: bold;"><i class="bi bi-telephone-fill" style="color: #C2A966; margin-right: 10px;"></i>704877879</a></li> 
        </ul>
        <ul class="list-unstyled d-flex">
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter" style="color: #C2A966;"></i></a></li>
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook" style="color: #C2A966;"></i></a></li>
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-linkedin" style="color: #C2A966;"></i></a></li>
            <li class="ms-3" style="border: 1px solid #C2A966; padding: 8px; border-radius: 5px; background-color: #252649; opacity: 75%;"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram" style="color: #C2A966;"></i></a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h6 class="mb-3 fs-5" style="color: #C2A966; font-weight: bold;">Liens</h6>
        <ul class="nav flex-column" style="color: #C2A966; font-weight: bold; font-size: 12px;">
          <li class="nav-item mb-2"><a routerLink="/accueil" class="nav-link p-0" style="color: #C2A966;">Accueil</a></li>
          <li class="nav-item mb-2"><a routerLink="/a-propos" class="nav-link p-0" style="color: #C2A966;">A propos</a></li>
          <li class="nav-item mb-2"><a routerLink="/listdahra" class="nav-link p-0" style="color: #C2A966;">Dahras</a></li>
          <li class="nav-item mb-2"><a routerLink="/donnations" class="nav-link p-0" style="color: #C2A966;">Donnations</a></li>
          <li class="nav-item mb-2"><a routerLink="/parrains" class="nav-link p-0" style="color: #C2A966;">Parrainages</a></li>
        </ul>
      </div>


    
      <div class="col-md-3" style="background-color: #C2A966; font-weight: bold;opacity: 75%; margin-top: 60px; border-radius: 5px;">
        <form class="p-2">
          <h5 style="color: #252649; font-weight: bold; margin-bottom: 12px;">S'abonner à notre newsletter</h5>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Adresse-mail</label>
            <input id="newsletter1" type="text" class="form-control" style="border-radius: 5px;" placeholder="Adresse-mail" [(ngModel)]="email">
            <button class="btn" style="background-color: #252649; font-weight: bold; color: #C2A966; padding: 6px;"  type="button" (click)="sAbonnerNewsletter()">Envoyer</button>

          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 fw-bold" style="color: #C2A966; border-top:1px solid #C2A966; font-size: 12px;">
      <p>© 2023</p>
    </div>
  </footer> -->
