<!-- <p>login works!</p> -->


<div class="content my-4 row" *ngIf="isLoginFormVisible=='connexion'" style="border: 1px solid #C2A966;border-radius: 5px; width: 70%;margin: 0 auto;">
    <div class="col-md-2"><img routerLink="/accueil" style="cursor: pointer;" src="assets/LOGOS/LogoFooter.png" id="logoform" alt=""></div>
    <div class="col-md-10 form-container m-5" style="margin: 0 auto; width: 55%;">
        <p class="title" routerLink="/accueil" style="cursor: pointer;"><i class="bi bi-arrow-left" style="color: #C2A966 ; margin-right: 20px;"></i>Accéder à mon espace</p>
        <form class="form">
            <div class="input-group">
                <label for="username"  class="ms-2" style="color: #C2A966;">Adresse-mail:</label>
                <input type="text" name="username" id="username" placeholder="" [(ngModel)]="emailLogin">
            </div>
            <div class="input-group">
                <label for="password" class="ms-2" style="color: #C2A966;">Mot de passe:</label>
                <input type="password" name="password" id="password" placeholder="" [(ngModel)]="passwordLogin">
            </div>
            <button class="sign mt-4" style="background-color: #C2A966; color: white; font-weight: bold;" (click)="login()">Se connecter</button>
        </form>
        <div class="social-message">
            <p class="message mb-3">Connectez-vous avec des comptes sociaux</p>
        </div>
        <div class="social-icons mb-3">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li class="ms-3" ><a class="link-body-emphasis" ><i class="bi bi-twitter" style="color: #C2A966;"></i></a></li>
                <li class="ms-3" ><a class="link-body-emphasis" ><i class="bi bi-facebook" style="color: #C2A966;"></i></a></li>
                <li class="ms-3" ><a class="link-body-emphasis" ><i class="bi bi-linkedin" style="color: #C2A966;"></i></a></li>
                <li class="ms-3" ><a class="link-body-emphasis" ><i class="bi bi-google" style="color: #C2A966;"></i></a></li>
              </ul>
        </div>
        <p class="signup">Vous n'avez pas de compte?
            <a rel="noopener noreferrer" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: #C2A966; font-weight: bold; cursor: pointer;" (click)=" Signup()">S'inscrire</a>
        </p>
  
                <!-- Modal -->
               
    </div>
</div>

    <!-- <ng-template [ngIf]="choixForm === 'inscription'; else rejoindreForm" > -->
        <div class="row content my-4" style=" border: 1px solid #C2A966;border-radius: 5px; width: 70%;margin: 0 auto;" *ngIf="isLoginFormVisible=='inscription'">
            <div class="col-md-2 "><img routerLink="/accueil" style="cursor: pointer;" src="assets/LOGOS/LogoFooter.png" id="logoform" alt=""></div>
                <div class="col-md-10 p-5 m-5 form-container" style="padding: 3% 0 3% 0; margin: 0 auto; width: 90%;">
                        <p class="title"><i class="bi bi-arrow-left" style="color: #C2A966 ; margin-right: 20px;"></i> Nous rejoindre</p>
                        <form class="form">
                            <div class="input-group">
                                <label for="name"  class="ms-2" style="color: #C2A966;">Nom:</label>
                                <input type="name" name="nom" id="name" placeholder="" [(ngModel)]="nom">
                            </div>
                            <div class="input-group">
                                <label for="firstname"  class="ms-2" style="color: #C2A966;">Prénom:</label>
                                <input type="text" name="prenom" id="firstname" placeholder="" [(ngModel)]="prenom">
                            </div>
                            <div class="input-group">
                                <label for="phone"  class="ms-2" style="color: #C2A966;">Téléphone:</label>
                                <input type="text" name="numeroTelephone" id="phone" placeholder="" [(ngModel)]="numeroTelephone">
                            </div>
                            <div class="input-group">
                                <label for="adresse" class="ms-2" style="color: #C2A966;">Adresse:</label>
                                <input type="text"  name="adresse" id="adress" placeholder="" [(ngModel)]="adresse">
                            </div>
                            <div class="input-group">
                                <label for="username"  class="ms-2" style="color: #C2A966;">Adresse-mail:</label>
                                <input type="text" name="email" id="username" placeholder="" [(ngModel)]="email">
                            </div>
                            <div class="input-group">
                                <label for="password" class="ms-2" style="color: #C2A966;">Mot de passe:</label>
                                <input type="password" name="password" id="password" placeholder="" [(ngModel)]="password">
                            </div>
                            <button class="sign mt-4"  style="background-color: #C2A966; color: white; font-weight: bold;" (click)="Signup()" routerLink="/login">S'inscrire </button>
                        </form>
                        <p class="signup mt-4">Vous avez déjà un compte?
                            <a   style="color: #C2A966; font-weight: bold;" routerLink="/login" (click)="getLoginLogin('connexion')">Se connecter</a>
                        </p>
                </div>
        </div>
    <!-- </ng-template> -->
    <!-- <ng-template #rejoindreForm > -->
        <div class="row content my-4" style=" border: 1px solid #C2A966;border-radius: 5px; width: 70%;margin: 0 auto;" *ngIf="isLoginFormVisible=='rejoindre'">
            <div class="col-md-2 "><img routerLink="/accueil" style="cursor: pointer;" src="assets/LOGOS/LogoFooter.png" id="logoform" alt=""></div>
                <div class="col-md-10 p-5 m-5 form-container" style="padding: 3% 0 3% 0; margin: 0 auto; width: 90%;">
                        <p class="title"><i class="bi bi-arrow-left"  style="color: #C2A966 ; margin-right: 20px;"></i>Vous avez un dahra </p>
                        <form class="form">
                            <div class="input-group">
                                <label for="name"  class="ms-2" style="color: #C2A966;">Nom Dahra:</label>
                                <input type="name" name="nom" id="name" placeholder="" [(ngModel)]="nom">
                            </div>
                            <div class="input-group">
                                <label for="firstname"  class="ms-2" style="color: #C2A966;">Nom Oustaz:</label>
                                <input type="text" name="nomOuztas" id="firstname" placeholder="" [(ngModel)]="nomOuztas">
                            </div>
                            <div class="input-group">
                                <label for="phone"  class="ms-2" style="color: #C2A966;">Téléphone Dahra:</label>
                                <input type="text" name="numeroTelephone" id="numeroTelephone" placeholder="" [(ngModel)]="numeroTelephone">
                            </div>
                            <div class="input-group">
                                <label for="adresse" class="ms-2" style="color: #C2A966;">Téléphone Oustaz:</label>
                                <input type="text"  name="numeroTelephoneOuztas" id="numeroTelephoneOuztas" placeholder="" [(ngModel)]="numeroTelephoneOuztas">
                            </div>
                            <div class="input-group">
                                <select [(ngModel)]="selectedRegion" class="" style="color: #C2A966;height: 45px; border: 1px solid #C2A966;
                                outline: 0;background-color: rgba(255, 255, 255, 0.418); width: 900px !important; margin-top: 25px;border-radius: 5px; font-size: 0.875rem;line-height: 1.25rem;" name="adresse" id="adresse">
                                    <option value="" disabled selected>Choisissez une région</option>
                                    <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <label for="adresse" class="ms-2" style="color: #C2A966;">Adresse:</label>
                                <input type="text"  name="adresse" id="adress" placeholder="" [(ngModel)]="adresse">
                            </div>
                            <div class="input-group">
                                <label for="adresse" class="ms-2" style="color: #C2A966;">Nombre de Talibés:</label>
                                <input type="number"  name="nombreTalibe" id="number" placeholder="" [(ngModel)]="nombreTalibe">
                            </div>
                            <div class="input-group">
                                <label for="username"  class="ms-2" style="color: #C2A966;">Adresse-mail:</label>
                                <input type="text" name="email" id="username" placeholder="" [(ngModel)]="email">
                            </div>
                            <div class="input-group">
                                <label for="password" class="ms-2" style="color: #C2A966;">Mot de passe:</label>
                                <input type="password" name="password" id="password" placeholder="" [(ngModel)]="password">
                            </div>
                            <div>
                                <label for="formFileLg" class="form-label">Image:</label>
                                <input type="file" style="color: #C2A966;" id="imageFilename" (change)="onFileSelected($event)" multiple>
                                <!-- <i class="fas fa-image" style="font-size: 20px;"></i> -->
                            </div>
                            <button class="sign mt-4" routerLink="/login" style="background-color: #C2A966; color: white; font-weight: bold;" (click)="SignupDahra()">Nous rejoindre</button>
                        </form>
                        <p class="signup mt-4">Vous avez déjà un compte?
                            <a   style="color: #C2A966; font-weight: bold;" routerLink="/login" (click)="getLoginLogin('connexion')">Se connecter</a>
                        </p>
                </div>
        </div>
    <!-- </ng-template> -->





<!-- <header *ngIf="showHeaderAndFooter"></header>
<footer *ngIf="showHeaderAndFooter"></footer> -->


<!--choice popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" style="color: #252649; font-weight: bold;" id="exampleModalLabel">Vous êtes?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <select class="form-control" aria-label="default input example"(change)="updateChoixForm($event)">
                <option value="inscription"></option>
                <option value="rejoindre">Maitre Coranique</option>
                <option value="inscription">Donnateur/Marraine</option>
            </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn" style="background-color: #252649; color: #C2A966;font-weight: bold; box-shadow:1px 1px 1px #C2A966;" data-bs-dismiss="modal" aria-label="Close">Continuer</button>
        </div>
    </div>
    </div>
</div>